:root {
    // COLORS
    --color-primary-super-light: #edf3ff;
    --color-primary-light: #8eb5ff;
    --color-primary: #70a1ff;
    --color-primary-dark: #347aff;
    --color-primary-super-dark: #0058ff;

    //for shadow (using color-primary-light with 0.8 opacity)
    --color-primary-shadow: rgba(142, 182, 255, 0.8);

    --color-card-primary: #ff4757;
    --color-card-primary-light: #ff6b81;

    //for shadow (using color-card-primary-light with 0.8 opacity)
    --color-card-primary-shadow: rgba(255, 107, 129, 0.5);

    --color-secondary: #9073ff;
    --color-tertiary: #60fff3;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-white: #fff;
    --color-black: #000;

    --line: 1px solid var(--color-grey-light-2);
}

$bg-filter: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3) 0% 10%,
    transparent 60%,
    rgba(58, 128, 207, 0.7)
);
