@keyframes icon-shaking {
    25% {
        transform: rotate(-10deg) translate(-0.3rem, -0.5rem);
    }

    50% {
        transform: translate(0, 0.5rem);
    }

    75% {
        transform: rotate(10deg) translate(0.3rem, -0.5rem);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
