.hero {
    //100 view point - navbar height - footer height - adjustment of margin-bottom
    height: calc(100vh - 10rem - 10rem - 10rem);
    margin-bottom: 10rem;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
